html{
    background-color: #670E10;
    text-align: center;
}
h3{
    color: goldenrod;
}
h4{
    color:goldenrod;
}
label{
    color: goldenrod;
}
button{
    background-color: royalblue;
}
input{
    border-radius: 20%;
    background-color: black;
    color:darkcyan;
}
